* {
  color: rgb(red, rgb(48, 230, 48), blue);
  background-color: rgb(rgb(206, 201, 218), green, blue);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: linear-gradient(white, blueviolet, blue);
    color: rgb(47, 45, 33);
}
#inputcity, #searchBtn, #cityname, button {
    margin: 3px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.weekdaycontainer {
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 1200px;
    border: 5px solid blue;
    border-radius: 10px;
    border-color: aliceblue ;
}

.daycontainers {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 340px;
    width: 1000px;
    border: 5px solid blueviolet;
    border-radius: 10px;
    border-color: aliceblue;
}

.daycontainer {
    display: block;
    background: linear-gradient(white, yellow, green);
    float: left;
    height: 300px;
    width: 190px;
    margin: 20px;
    border: 5px solid rgb(128, 0, 100);
    text-align: center;
    font-weight: bold;
}

.img {
    height: 140px;
    width: 100px;
    align-items: center;
}

.weather {
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;

}

.minvalue {
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    width: 75px;
    margin: 0;
    margin-bottom: 0px;
    margin-left: 5px;
}

.maxvalue {
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    width: 75px;
    margin: 0;
    margin-bottom: 0px;
    margin-left: 5px;
}

#day5date, #day4date, #day3date,#day2date, #day1date {
    font-size: 16px;
    font-weight: bolder;
}
  
  
  #day5humidity, #day4humidity, #day3humidity, #day2humidity, #day1humidity {
    font-size: 10px;
  }
  
  
  #day5windspeed, #day4windspeed, #day3windspeed, #day2windspeed, #day1windspeed {
    font-size: 10px;
  }
  